/scripts/pb_domain.js
.gigacode
!/icons/
!/icons/svg/
/icons/svg/*
!/icons/svg/fi-sr-angle-left.svg
!/icons/svg/fi-sr-angle-right.svg
!/icons/svg/fi-sr-angle-small-down.svg
!/icons/svg/fi-sr-angle-small-up.svg
!/icons/svg/fi-sr-arrow-small-right.svg
!/icons/svg/fi-sr-book-bookmark.svg
!/icons/svg/fi-sr-box-open.svg
!/icons/svg/fi-sr-building-materials.svg
!/icons/svg/fi-sr-calendar.svg
!/icons/svg/fi-sr-chart-bullet.svg
!/icons/svg/fi-sr-circle-user.svg
!/icons/svg/fi-sr-crane-building.svg
!/icons/svg/fi-sr-cross.svg
!/icons/svg/fi-sr-exit.svg
!/icons/svg/fi-sr-file-export.svg
!/icons/svg/fi-sr-file-import.svg
!/icons/svg/fi-sr-global-research.svg
!/icons/svg/fi-sr-info.svg
!/icons/svg/fi-sr-light-mode-alt.svg
!/icons/svg/fi-sr-lock.svg
!/icons/svg/fi-sr-moon.svg
!/icons/svg/fi-sr-people-group.svg
!/icons/svg/fi-sr-plus-small.svg
!/icons/svg/fi-sr-refresh.svg
!/icons/svg/fi-sr-settings-sliders.svg
!/icons/svg/fi-sr-settings.svg
!/icons/svg/fi-sr-shield-check.svg
!/icons/svg/fi-sr-sun.svg
!/icons/svg/fi-sr-time-past.svg
!/icons/svg/fi-sr-trash.svg
!/icons/svg/fi-sr-briefcase.svg
!/icons/svg/fi-sr-angle-small-down.svg
!/icons/svg/fi-sr-document-signed.svg